<form class="flex flex-col">
  <div class="grid grid-cols-2 gap-2">
    <div class="flex flex-col">
      <!-- Input form -->
      <label class="text-sm text-gray-800">Address</label>
      <input class="" placeholder="Start typing your address, e.g. 123 Main..." autocomplete="address-line1" id="mapbox-autofill">
      <div data-map-search-target="manualEntry">
        <button class="text-gray-900 underline text-blue-600" data-action="click->map-search#openManualEntry">Enter an address manually</button>
      </div>
      <div data-map-search-target="secondaryInputs" class="grid grid-cols-1 hidden">
        <label class="text-sm text-gray-800">Address Line 2</label>
        <input class="mb-2" placeholder="Apartment, suite, unit, building, floor, etc." autocomplete="address-line2">
        <label class="text-sm text-gray-800">Area</label>
        <input class="mb-2" placeholder="Area" autocomplete="address-level3">        
        <label class="text-sm text-gray-800">City</label>
        <input class="mb-2" placeholder="City" autocomplete="address-level2">
        <label class="text-sm text-gray-800">State / Region</label>
        <input class="mb-2" placeholder="State / Region" autocomplete="address-level1">
        <label class="text-sm text-gray-800">ZIP / Postcode</label>
        <input class="mb-2" placeholder="ZIP / Postcode" autocomplete="postal-code">
        <label class="text-sm text-gray-800">Country</label>
        <input class="mb-2" placeholder="Country" autocomplete="country-name">    
        <div class="grid grid-cols-2 gap-1">    
          <input type="text" name="address[latitude]" id="address_latitude" data-map-search-target="latitudeField">
          <input type="text" name="address[longitude]" id="address_longitude" data-map-search-target="longitudeField">
        </div>
      </div>
    </div>
    <div class="">
    <!-- Visual confirmation map -->
      <div data-map-search-target="minimapContainer" id="minimap-container" class="none w-full h-96 mb-6"></div>
    </div>
  </div>
</form>