<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>

<div id="customers">
  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr>  
        <th class="text-left">Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <%= render customer %>
      <% end %>
    </tbody>
  </table>
</div>

<hr>
<%= render PrimaryLinkButtonComponent.new(path: new_customer_path, title: "New customer", small: true, button_classes: "mt-4 w-64") %>
