<p style="color: green"><%= notice %></p>

<% content_for :title, "Addresses" %>

<div id="addresses">
  <table class="min-w-full divide-y divide-gray-300">
    <%= render "address_table_header" %>
    <tbody>
      <% @addresses.each do |address| %>
        <%= render address %>
      <% end %>
    </tbody>
  </table>
</div>


<hr>
<%= render PrimaryLinkButtonComponent.new(path: new_address_path, title: "New address", small: true, button_classes: "mt-4 w-64") %>
